@media (max-width: 615px) {

   .left-column  {
    padding-top: 10em;
    padding-bottom: 10em;
   } 

    

   .content-page-wrapper {
    display: flex;
    flex-direction: column;

    .right-column {
        position: relative;
        padding: 150px 30px 0px 30px;
    }
  }
}

